<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <h1>CURRICULUM</h1>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      
    </ion-toolbar>
  </ion-header>

  <div align="center">
    <img src="../../assets/diani.jpg">
  </div>

  <ion-card-content>
    <div class="ion-text-center">
      <h2>
        Estudiante de la Escuela Politécnica Nacional del Ecuador(EPN), especialidad Tecnología en Análisis de Sistemas Informaticos,
        con conocimiento en diferentes lenguajes de desarrollo.
      </h2>
    </div>
  </ion-card-content>


<div class="ion-text-center">
  <ion-list lines="none">
    
      <ion-label>
        <h1>INFORMACIÓN</h1>
      </ion-label>

      <br>
      <br>

      <ion-label>
        <h2>Alangasi, Calle Antonio José de Sucre</h2>
        <p>Dirección</p>
      </ion-label>

      <br>
      <br>
  
      <ion-label>
        <h2>022-787-854</h2>
        <p>Teléfono fijo</p>
      </ion-label>

      <br>
      <br>
    
      <ion-label>
        <h2>0985871312</h2>
        <p>Celular</p>
      </ion-label>

      <br>
      <br>
    
      <ion-label>
        <h2>narvaezdiana4@gmail.com</h2>
        <p>Email</p>
      </ion-label>
    
  </ion-list>
</div>
  
</ion-content>
