h1{
    font-family: "Arial";
    background-color:burlywood;
    text-shadow: gray 4px 4px 2px;
    letter-spacing: 5px;
    text-align-last: center;
    color: rgb(0, 0, 0);
  }

  img {
    width: 20%;
      height: auto;    
  }

  h2{
    font-family: "Arial";
    text-shadow: gray 4px 4px 2px;
    text-align-last: center;
    color: rgb(250, 249, 249);
  }