<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <h1>CURRICULUM</h1>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      
    </ion-toolbar>
  </ion-header>


  <ion-grid>
    <h2>EXPERIENCIA  LABORAL</h2>
  </ion-grid>

  <br>
  <div align="center">
    <h1>Dirección y Gestión de la Información y Procesos (DGIP)</h1>
    <h2>Experiencia en: </h2>
    <h2>Tester, Programación en Java Web y Edición de videos</h2>
    <img src="../../assets/dgip.png">
  </div>